section{
  margin-bottom: 50px;
}

body {
    padding: 50px;
    font-family: Montserrat;
  }

a {
    text-decoration: none;
    color: #1a3baf;
    font-weight: 600;
}

table {
  width: 650px;
  border-collapse: collapse;
}

td {
  text-align: center;
	padding: 10px;
	border: 3px solid #1a3baf;
}

 th {
  text-align: center;
  padding: 10px;
	border: 3px solid #1a3baf;
 }

 .title{
    font-size: 32px;
    font-weight: 400;
    line-height: 38.73px;
    color: black;
    margin-bottom: 15px;
 }
 
 .column-data{
  text-align: left;
 }

  .button {
  background-color: rgb(249 255 139);
  border-style: solid;
  border-color: #1a3baf;
  border-radius: 10px;
  padding: 10px 32px;
  font-size: 16px;
}

.forms{
  display: flex;
}
